.bomb {
  width: 70px;
  position: relative;
  left: 55px;
  top: -130px;
  margin-top: 65px;
}

.item {
  position: relative;
  color: rgb(0, 0, 0);
  left: 130px;
  top: -430px;
  margin-top: 120px;
}

.post {
  position: relative;
  top: -135px;
  margin-left: 57px;
}
.text textarea {
  position: relative;
  top: -140px;
  margin-left: 57px;
  height: 100px;
  display: block;
  background: darkgray;
  border-width: 0px;
  font-size: 20px;
  border-radius: 15px;
}
.button {
  position: relative;
  left: 1127px;
  top: -110px;
  background-color: black;
  color: aliceblue;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 15px 32px;
  border: none;
  border-radius: 25px;
}
