.header {
    grid-area: h;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgb(0, 0, 0);
}
.header img {
    width: 50px;
}
.loginBlock {
    float: right;
}
.loginBlock a {
    color: white;
}
